<mat-dialog-content class="mat-typography institution-dialog__content">
    <div class="card border-top border-info p-3">
        <form #changaPasswordForm="ngForm" (ngSubmit)="onSave(changaPasswordForm)"
            [mustMatch]="['Password', 'ConfirmPassword']">
            <div class="form-group mt-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'Enter New Password' | translate }}</mat-label>
                    <input matInput type="text" minlength="6" placeholder="{{ 'Enter New Password' | translate }}"
                        name="Password" #Password="ngModel" [(ngModel)]="_model.Password" required>
                    <mat-error *ngIf="Password.invalid&&Password.touched">
                        {{ 'Enter New Password field must be filled' | translate }}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ ' Enter the New Password Again. ' | translate }}</mat-label>
                    <input matInput type="text" placeholder="{{ 'Re-enter New Password' | translate }}"
                        name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="_model.ConfirmPassword" required>
                    <mat-error *ngIf="ConfirmPassword.invalid">
                        <span *ngIf="ConfirmPassword.errors.required">
                            {{ 'Re-enter New Password field must be filled' | translate }}
                        </span>
                        <span *ngIf="ConfirmPassword.errors.mustMatch">
                            {{ 'Passwords must match' | translate }}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div ma-dialog-title class="institution-dialog">
                <div class="modal-description">
                    <h5>{{ 'You are on the password change page. If you are sure you want to change your password,
                        proceed by pressing the button.' | translate}}</h5>
                </div>
            </div>
            <button type="submit" class="btn btn-info w-100">{{'Change Password'| translate}}</button>
        </form>
    </div>
</mat-dialog-content>