.width-400px{
  width: 400px!important;
}
.submit {
  &__btn {
    background: linear-gradient(to bottom, #8e1968, #1c1a1a);
    border: none;
    color: white;

  }
}
.fas{
  font-size: 40px;
}
.font-size{
  font-size: 10px!important;
}