<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'Change Password' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>
<mat-dialog-content class="mat-typography institution-dialog__content">
    <form #changePasswordForm="ngForm" (ngSubmit)="onSave(changePasswordForm)">
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'Your Active Password' | translate }}</mat-label>
                <input matInput [type]=" _passwordShowHide ? 'text' : 'password'"
                    placeholder="{{ 'Enter your active password' | translate }}" name="UserPassword" minlength="6"
                    #UserPassword="ngModel" [(ngModel)]="_model.UserPassword" required>
                <a type="button" matSuffix (click)="_passwordShowHide = !_passwordShowHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="_passwordShowHide">
                    <mat-icon>{{ _passwordShowHide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </a>
                <mat-error
                    *ngIf="UserPassword.invalid && (UserPassword.dirty || UserPassword.touched) && UserPassword.errors.minlength">
                    {{ 'Password cannot be shorter than 6 characters' | translate }}</mat-error>
                <mat-error
                    *ngIf="UserPassword.invalid && (UserPassword.dirty || UserPassword.touched) && UserPassword.errors.required">
                    {{ 'Your Active Password field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'New Password' | translate }}</mat-label>
                <input matInput [type]=" _passwordShowHide ? 'text' : 'password'"
                    placeholder="{{ 'Enter your new password' | translate }}" name="UserNewPassword" minlength="6"
                    #UserNewPassword="ngModel" [(ngModel)]="_model.UserNewPassword" required>
                <a type="button" matSuffix (click)="_passwordShowHide = !_passwordShowHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="_passwordShowHide">
                    <mat-icon>{{ _passwordShowHide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </a>
                <mat-error
                    *ngIf="UserNewPassword.invalid && (UserNewPassword.dirty || UserNewPassword.touched) && UserNewPassword.errors.minlength">
                    {{ 'Password cannot be shorter than 6 characters' | translate }}</mat-error>
                <mat-error
                    *ngIf="UserNewPassword.invalid && (UserNewPassword.dirty || UserNewPassword.touched) && UserNewPassword.errors.required">
                    {{ 'New Password field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
        </div>
    </form>
</mat-dialog-content>