.title {
    margin-top: 10%;
    font-size: 2rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent:-2px;
    color: #2a2626;
    margin-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 3px 2px 1px white;
}
.image
{
    margin-top: 2%;
    margin-left: 40%;
    width:35%;
    height: auto;
}

.medium{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 600px;
}
.row
{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color:#e0efe3;
}
.text
{
    text-indent: 0%;
    margin-left: 40%;
    font-weight: bold;
}

@media screen and (max-width:10000px){
    .row{
        margin-left: 0px;
        max-width: 100%;
    }
    .medium{
        text-indent: 25px;
        margin-top:3%;
        margin-left:15%;
        max-width: 75%;
    }
}
@media screen and (max-width:600px){
    .title{
        font-size: 1.2rem;
    }
}
