<div class="container">
  <h1>Blog Title</h1>
  <p>
    <small>By <em> Lorem Ipsum</em> | Tarih: <em> ../../.... </em></small>
  </p>
</div>
<div class="medium">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
    diam ac arcu congue gravida. Pellentesque at libero hendrerit, fringilla
    dolor quis, vulputate nibh.
  </p>

  <blockquote>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
    diam ac arcu congue gravida. Pellentesque at libero hendrerit, fringilla
    dolor quis, vulputate nibh. Curabitur vel posuere orci. Donec eget risus
    elementum, egestas lacus ut, fermentum lorem. Praesent eu arcu non erat
    pharetra semper eu a magna. Phasellus pellentesque faucibus libero, vitae
    aliquet nisl facilisis ut. Quisque pulvinar tellus quis est faucibus
    facilisis. Proin dictum risus venenatis, suscipit eros non, lacinia lectus.
    Maecenas sollicitudin congue ligula, vitae consequat enim varius sit amet.
    Nam ultricies neque id nisi efficitur vulputate. <br /><small
      >Lorem Ipsum</small
    >
  </blockquote>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
    diam ac arcu congue gravida. Pellentesque at libero hendrerit, fringilla
    dolor quis, vulputate nibh. Curabitur vel posuere orci. Donec eget risus
    elementum, egestas lacus ut, fermentum lorem. Praesent eu arcu non erat
    pharetra semper eu a magna. Phasellus pellentesque faucibus libero, vitae
    aliquet nisl facilisis ut. Quisque pulvinar tellus quis est faucibus
    facilisis. Proin dictum risus venenatis, suscipit eros non, lacinia lectus.
    Maecenas sollicitudin congue ligula, vitae consequat enim varius sit amet.
    Nam ultricies neque id nisi efficitur vulputate.
  </p>

  <p class="post-end clearfix">3 hours ago<span> L.Ipsum</span></p>
  </div>