h1 {
    font-size: 2.8rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px; 
    color: #2a2626;
    margin-left: 40px;

}

blockquote{
    font-style: italic;
    text-indent: 40px;
    
}

.medium{
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

p
{
    text-indent: 40px;
}

.container
{
    max-width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    background-color:#e6dede;
}