<footer>
    <div class="pb-3 footer">
        <div class="container">
            <div class="row">
                <div class="col-12 justify-content-center mt-5">
                    <ul class="social-link-footer list-unstyled">
                        <li><a href="#" ><i class="fa fa-envelope mail-icon"></i></a> </li>
                        <li><a href="#" ><i class="fab fa-linkedin linkedin-icon"></i></a></li>
                        <li><a href="#" ><i class="fab fa-github github-icon"></i></a></li>
                        <li><a href="#" ><i class="fab fa-instagram instagram-icon"></i></a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="col copyright text-center">
                        <p>
                            <small class="text-white-50">
                                All Rights Reserved &copy; Project Team 2020
                            </small>
                        </p>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</footer>
