<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-4 col-sm-12 ml-auto ">
            <mat-form-field>
                <mat-label>{{ 'Search' | translate }}</mat-label>
                <input matInput type="text" [(ngModel)]="searchText"
                    placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
                <a type="button" matSuffix [attr.aria-label]="'Search'">
                    <mat-icon>search</mat-icon>
                </a>
            </mat-form-field>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0  table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Blog Name' | translate }}</th>
                        <th>{{ 'Blog Created Date' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blog of blogs | filter:searchText">
                        <td> {{ blog.BlogTitle }} </td>
                        <td> {{ blog.BlogCreatedDate | date:'M/dd/yyyy, HH:mm':'+3' }} </td>
                        <td class="list-button text-right">
                            <button class="btn btn-sm " [routerLink]="['/blog/detail/',blog.BlogID]">
                                <span class="text-white">{{ 'Examine' | translate }}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>