.sidenav {
  position: absolute;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0px;
  right: -7px;
  overflow-x: hidden;
  padding-top: 15px;
  transition: 0.5s;
}
span{
  position: absolute;
  right: 100px;
  top: 7px;
}
.fas{
  font-size: 10px;
}
.sidenav a {
  padding: 8px 0px;
  color: rgb(247, 247, 247);
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #efefef;
}
  
.sidenav a:hover {
  color: white;
}
h3{
  font-weight: 500;
  padding-top: 5px;
  padding-left: 15px;
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -50px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}
.openbtn{
  display: none;
}
#mySidenav{
  width: 250px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 768px){
  .openbtn{
    display: block;
  }
  .sidenav .closebtn{
    display: block;
  }
  .sidenav{
    background: linear-gradient(to top, #8e1968, #1c1a1a);
  }
  #mySidenav{
    width: 0!important;
  }
  h3{
    color: rgb(247, 247, 247);
  }
  .sidenav a{
    border-bottom: none;
  }
}
@media screen and (min-width: 769px){
  #mySidenav{
    width: 250px!important;
  }
  .sidenav a{
    color: black;
  }
  .sidenav a:hover{
    color: rgb(160, 159, 159);
    cursor: pointer;
  }
  h3{
    text-align: left!important;
  }
}