<div id="mySidenav" class="sticky-top sidenav">
    <div class="row">
        <div class="col-md-0 col-3">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        </div>
        <div class="col-md-12 col-9">
            <h3 class="text-right mr-4">{{ 'Category' | translate }}</h3>
        </div>
    </div>
    <a *ngFor="let category of _categories" [routerLink]="['/blog/category/',category.BlogMenuID]"><i class="fas fa-hand-point-right"></i> {{category.BlogMenuName}}</a>
</div>
<div class="openbtn">
    <span>{{ 'Category' | translate }}</span>
    <a class="btn p-0" (click)="openNav()"><i class="fa fa-bars border border-secondary p-2 rounded"></i></a>
</div>