.sidenav {
  position: absolute;
  min-height: 100vh;
  width: 0;
  z-index: 1;
  top: 0px;
  right: -7px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
span{
  font-size: larger;
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
}
h1{
    padding-left: 32px;
    margin-top: -20px;
}
.sidenav a {
  padding: 8px 0 8px 0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #c0c0c0;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 36px;
  display: none;
  color: rgb(209, 209, 209);
}
.openbtn{
  display: none;
}
#mySidenav{
  width: 250px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 768px){
  .openbtn{
    display: block;
  }
  .sidenav .closebtn{
    display: block;
  }
  #mySidenav{
    width: 0!important;
  }
  .sidenav{
    background: linear-gradient(to top, #8e1968, #1c1a1a);
  }
  h1{
    color: white;
  }
}
@media screen and (min-width: 769px){
  #mySidenav{
    width: 250px!important;
  }
}