.main-header {
  z-index: 998;
}

.avatar{
  font-size: 30px;
  text-align: center;
  height: 80px;
  padding-top: 29px;
  display: inline-grid;
  width: 80px;
  border: 3px solid; 
  border-color:rgba(255,255,255,.2);
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
  border-radius: 100%;
}
.circle-avatar{
  height:30px;
  width:30px;
  padding-top: 2px;
  margin-right: 5px;
  font-size: 17px;
}
.lang {
    position: relative;
    width: 30px;
    height: 20px;

  &__selection {
    cursor: pointer;
  }
}
