<div class="row">
    <div class="col-md-4 col-sm-12 add-button">
        <button type="button" (click)="openBlogListModal()" class="btn btn-sm btn-outline-success"><i
                class="fas fa-plus"></i> {{ 'Add Blog' | translate }}</button>
    </div>
    <div class="col-md-3 col-sm-12 ml-auto">
        <mat-form-field>
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Blog No' | translate }}</th>
                    <th>{{ 'Blog Title' | translate }}</th>
                    <th>{{ 'Blog Description' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blogList of blogLists | filter:searchText | paginate: paginationConfig">
                    <td> {{ blogList.BlogID }} </td>
                    <td> {{ blogList.BlogTitle }} </td>
                    <td> {{ blogList.BlogDescription }}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item>
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>{{ 'Examine' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="openBlogListModal(blogList.BlogID)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)='blogListDelete(blogList.BlogID)'>
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination> 