<div class="row">
    <div class="col-md-4 col-sm-12 add-button">
        <button type="button" (click)="openBlogMenuModal()" class="btn btn-sm btn-outline-success"><i
                class="fas fa-plus"></i> {{ 'Add Blog Menu' | translate }}</button>
    </div>
    <div class="col-md-3 col-sm-12 ml-auto">
        <mat-form-field>
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Menu No' | translate }}</th>
                    <th>{{ 'Menu Name' | translate }}</th>
                    <th>{{ 'Menu Description' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blogMenu of blogMenus | filter:searchText">
                    <td> {{ blogMenu.BlogMenuID }} </td>
                    <td> {{ blogMenu.BlogMenuName }} </td>
                    <td> {{ blogMenu.BlogMenuDescription }}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                                     <mat-icon class="list-menu">more_vert</mat-icon>

                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item (click)="openBlogMenuModal(blogMenu.BlogMenuID)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)='blogMenuDelete(blogMenu.BlogMenuID)'>
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination>