<div class="row">
    <div class="col-md-3 col-sm-12 ml-auto">
        <mat-form-field>
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Component No' | translate }}</th>
                    <th>{{ 'Component Name' | translate }}</th>
                    <th>{{ 'User Name' | translate }}</th>
                    <th>{{ 'Created Date' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let component of components | filter:searchText | paginate: paginationConfig">
                    <td> {{ component.ComponentID }} </td>
                    <td> {{ component.ComponentName }} </td>
                    <td> {{ component.UserNameSurname }}</td>
                    <td> {{ component.ComponentCreatedDate | date:'M/d/yyyy, H:mm':'+3' }}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item>
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>{{ 'Examine' | translate }}</span>
                            </a>
                            <a mat-menu-item [routerLink]="['/admin/component/edit/',component.ComponentID]">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="componentDelete(component.ComponentID)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination>