.list-menu:hover {
  cursor: pointer;
}

.user-detail {
  &__btn {
    background: linear-gradient(to bottom, #8e1968, #1c1a1a);
    border: none;
  }

  &__tab-bg {
    > .nav-item > .nav-link.active {
      background: linear-gradient(to bottom, #8e1968, #1c1a1a);
    }
  }
}
