<form #componentForm='ngForm' (ngSubmit)="onSave(componentForm)">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-right">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Component State'| translate}}</mat-label>
                    <select matNativeControl name="ComponentState" #ComponentState="ngModel"
                        [(ngModel)]="_model.ComponentState" required>
                        <option [value]="ComponentState">{{ 'Active' | translate }}</option>
                        <option [value]="ComponentState">{{ 'Passive' | translate }}</option>
                    </select>
                    <mat-error *ngIf="ComponentState.invalid">
                        {{ 'Select the Component State' | translate }}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="card p-3 border-top border-info">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Component Name' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Enter Component Name' | translate }}"
                pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="ComponentName" #ComponentName="ngModel"
                [(ngModel)]="_model.ComponentName" required>
            <mat-error *ngIf="ComponentName.invalid&&ComponentName.touched">
                {{ 'Component Name field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>{{'Componnent Menu'| translate}}</mat-label>
                <select matNativeControl name="ComponentMenuName" #ComponentMenuName="ngModel"
                    [(ngModel)]="_model.ComponentMenuName" required>
                    <option *ngFor="let _componentMenu of componentMenu" [value]="ComponentMenuName">
                        {{ _componentMenu.ComponentMenuName }}</option>
                </select>
                <mat-error *ngIf="ComponentMenuName.invalid">
                    {{ 'Select the Component Menu Name' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Component Description' | translate }}</mat-label>
            <textarea style="resize: none;" rows="4" matInput type="text" placeholder="{{ 'Enter Component Description' | translate }}"
                pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="ComponentDescription" #ComponentDescription="ngModel"
                [(ngModel)]="_model.ComponentDescription" required></textarea>
            <mat-error *ngIf="ComponentDescription.invalid&&ComponentDescription.touched">
                {{ 'Component Desccription field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-group">
            <ckeditor [(ngModel)]="_model.ComponentContent" #ComponentContent="ngModel" id="ComponentContent"
                name="ComponentContent" [data]="_model.ComponentContent" [config]="{ language:lang }">
            </ckeditor>
        </div>
        <div class="card-footer p-0">
            <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
        </div>
    </div>
</form>