<form #blogForm='ngForm' (ngSubmit)="onSave(blogForm)">
    <div class="row" [hidden]="hiddenSlideToggle">
        <div class="col-12 text-right">
            <div class="form-group">
                <mat-slide-toggle [disabled]="hiddenSlideToggle" labelPosition="before" color="primary" name="BlogState"
                    #BlogState="ngModel" [(ngModel)]="_model.BlogState">
                    <ng-container [ngSwitch]="_model.BlogState">
                        <span *ngSwitchCase="1">{{ 'Blog Active' | translate }}</span>
                        <span *ngSwitchDefault>{{ 'Blog Pasive' | translate }}</span>
                    </ng-container>
                </mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="card p-3 border-top border-info">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Blog Name' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Enter Blog Name' | translate }}"
                pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="BlogTitle" #BlogTitle="ngModel" [(ngModel)]="_model.BlogTitle"
                required>
            <mat-error *ngIf="BlogTitle.invalid&&BlogTitle.touched">
                {{ 'Blog Name field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>{{'Blog Menu'| translate}}</mat-label>
                <select matNativeControl name="BlogMenuID" #BlogMenuID="ngModel" [(ngModel)]="_model.BlogMenuID"
                    required>
                    <option *ngFor="let blogMenu of blogMenus" [value]="blogMenu.BlogMenuID">
                        {{ blogMenu.BlogMenuName }}</option>
                </select>
                <mat-error *ngIf="BlogMenuID.invalid">
                    {{ 'Select the Blog Menu Name' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Blog Description' | translate }}</mat-label>
            <textarea style="resize: none;" rows="4" matInput type="text"
                placeholder="{{ 'Enter Blog Description' | translate }}" pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$"
                name="BlogDescription" #BlogDescription="ngModel" [(ngModel)]="_model.BlogDescription"
                required></textarea>
            <mat-error *ngIf="BlogDescription.invalid&&BlogDescription.touched">
                {{ 'Blog Description field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-group">
            <ckeditor [(ngModel)]="_model.BlogContent" #BlogContent="ngModel" id="BlogContent" name="BlogContent"
                [data]="_model.BlogContent" [config]="{ language:lang }">
            </ckeditor>
        </div>
        <div class="card-footer p-0">
            <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
        </div>
    </div>
</form>