<form #blogForm='ngForm' (ngSubmit)="onSave(blogForm)">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-right">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Blog State'| translate}}</mat-label>
                    <select matNativeControl name="BlogState" #BlogState="ngModel"
                        [(ngModel)]="_model.BlogState" required>
                        <option [value]="BlogState">{{ 'Active' | translate }}</option>
                        <option [value]="BlogState">{{ 'Passive' | translate }}</option>
                    </select>
                    <mat-error *ngIf="BlogState.invalid">
                        {{ 'Select the Component State' | translate }}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="card p-3 border-top border-info">
        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Blog Name' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Enter Blog Name' | translate }}"
                pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="BlogName" #BlogName="ngModel"
                [(ngModel)]="_model.BlogName" required>
            <mat-error *ngIf="BlogName.invalid&&BlogName.touched">
                {{ 'Component Name field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>{{'Blog Menu'| translate}}</mat-label>
                <select matNativeControl name="BlogMenuName" #BlogMenuName="ngModel"
                    [(ngModel)]="_model.BlogMenuName" required>
                    <option *ngFor="let _blogMenu of blogMenu" [value]="BlogMenuName">
                        {{ _blogMenu.BlogMenuName }}</option>
                </select>
                <mat-error *ngIf="BlogMenuName.invalid">
                    {{ 'Select the Blog Menu Name' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Blog Description' | translate }}</mat-label>
            <textarea style="resize: none;" rows="4" matInput type="text" placeholder="{{ 'Enter Blog Description' | translate }}"
                pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="BlogDescription" #BlogDescription="ngModel"
                [(ngModel)]="_model.BlogDescription" required></textarea>
            <mat-error *ngIf="BlogDescription.invalid&&BlogDescription.touched">
                {{ 'Blog Desccription field must be filled' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-group">
            <ckeditor [(ngModel)]="_model.BlogContent" #BlogContent="ngModel" id="BlogContent"
                name="BlogContent" [data]="_model.BlogContent" [config]="{ language:lang }">
            </ckeditor>
        </div>
        <div class="card-footer p-0">
            <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
        </div>
    </div>
</form>